<div class="cart-content">
    <div class="cart-header">
        <span class="close">&times;</span>
        <h2>Header</h2>
    </div>
            <p> {{#if paintings.length}}
                <ul class="shopping-cart-items">
                    {{#each paintings}}
                    <li class="shopping-cart-item">
                        <img class="cart-thumbnail" src="{{image._downloadURL}}">
                    </li>
                    {{/each}}
                </ul>
                {{else}} The cart is empty! {{/if}}.</p>
    <div class="cart-footer">
        <h3>Footer</h3>
    </div>
</div>