* {
  padding: 0;
  margin: 0;
}
img {
  max-height: 100%;
  max-width: 100%;
}
.cart-thumbnail {
  max-height: 10%;
  max-width: 10%;
  margin: 5px;
  padding: 5px;
}
body {
  padding-bottom: 70px;
  padding-top: 70px;
}
body header {
  background-color: #55cbd2;
  padding: 0 10px;
}
body header .container {
  width: 100%;
  font-size: 18px;
  background-color: #55cbd2;
  padding: 10px;
  position: relative;
}
body header .container #logo {
    padding-left: 50px;
}
body header .container #logo a {
  color: #fff;
  text-decoration: none;
  font-size: 34px;
  font-family: 'Francois One', sans-serif;
}
body header .container #nav #menu {
  display: inline-block;
}
body header .container #nav #menu ul {
  list-style-type: none;
}
body header .container #nav #menu ul li {
  padding: 5px 15px;
}
body header .container #nav #menu ul li a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
body header .container #nav #menu ul li a:hover {
  text-decoration: underline;
}
body header .container #nav #register-form {
  display: inline-block;
  color: #fff;
  font-size: 20px;
}
body header .container #nav #register-form input {
    width: 150px;
    border-radius: 0px;
    color: #888;
    font-size: 18px;
}
body header .container #nav #register-form a {
    border: 1px solid #2eb8b8;
    font-size: 18px;
}
body header .container #nav #register-form *::-webkit-input-placeholder {
  color: #ccc;
}
body header .container #nav #register-form *:-moz-placeholder {
  color: #ccc;
}
body header .container #nav #loggedInUser {
  margin-right: 10px;
  color: #fff;
  position: relative;
}
body #wrapper {
  background-color: #F8FBFB;
  padding-top: 60px;
  padding-bottom: 60px;
}
body #wrapper aside .input-group > div {
  border: 1px solid #ccc;
  display: inline-block;
  width: 35%;
}
body #wrapper aside .input-group #select {
  border: none;
}
body #wrapper aside .input-group #search-input {
  width: 65%;
  padding: 21px 10px;
  line-height: 28px;
  display: inline-block;
}
body #wrapper aside .input-group button {
  padding: 11px;
}
body #wrapper aside ul {
  margin-top: 20px;
  font-size: 16px;
}
body #wrapper aside .nav-pills > li.active > a {
  background-color: #dddddd;
  color: #000;
}
body #wrapper main #main-title {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: right;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body #wrapper main #main-title h1 {
  font-size: 170px;
  color: white;
  background: url("../images/header.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body #wrapper main #main-title h3 {
  font-size: 110px;
  color: white;
  background: url("../images/header.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body #wrapper main #main-title h4 {
  font-size: 18px;
  color: white;
  background: url("../images/header.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body #wrapper main .form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
body #wrapper main .form-signin .form-signin-heading,
body #wrapper main .form-signin .form-signin .checkbox {
  margin-bottom: 10px;
}
body #wrapper main .form-signin .checkbox {
  font-weight: normal;
}
body #wrapper main .form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body #wrapper main .form-signin .form-control:focus {
  z-index: 2;
}
body #wrapper main .form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
body #wrapper main .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
body #wrapper main .account-wall {
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
body #wrapper main .profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
body #wrapper main .contact-form {
  margin-top: 20px;
}
body #wrapper main .contact-form div,
body #wrapper main .contact-form button {
  font-size: 18px;
}
body #wrapper main .gallery {
  padding: 20px;
}
body #wrapper main .gallery .galleryItems {
  list-style-type: none;
}
body #wrapper main .gallery .galleryItems .itemGallery {
  text-align: center;
}
body #wrapper main .gallery .galleryItems .itemGallery .imgGallery {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
}
body #wrapper main .gallery .galleryItems .itemGallery strong {
  color: #337ab7;
}
body #wrapper main .gallery .galleryItems .itemGallery .by-artist {
  width: 200px;
  height: 200px;
}
body #wrapper main .gallery .galleryItems .itemGallery div {
  text-align: center;
}
body #wrapper main .gallery .galleryItems .itemGallery div .artist,
body #wrapper main .gallery .galleryItems .itemGallery div .title {
  font-weight: bold;
  text-decoration: none;
}
body #wrapper main .gallery .galleryItems .itemGallery div .artist:hover,
body #wrapper main .gallery .galleryItems .itemGallery div .title:hover {
  text-decoration: underline;
  color: #337ab7;
  cursor: pointer;
}
body #wrapper main .gallery .description {
  color: #888;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  width: 70%;
}
body #wrapper main .gallery .description strong {
  color: #337ab7;
}
body #wrapper main .gallery h3,
body #wrapper main .gallery h4 {
  color: #888;
}
body #wrapper main .gallery h3 strong,
body #wrapper main .gallery h4 strong {
  color: #337ab7;
}
body #wrapper main .gallery .like,
body #wrapper main .gallery .dislike,
body #wrapper main .gallery .download,
body #wrapper main .gallery .comment,
body #wrapper main .gallery .buy {
  margin-right: 10px;
  font-size: 16px;
  border: 1px solid #a9a9a9;
}
body #wrapper main .gallery .like {
  background-color: #ccffcc;
  border: 1px solid #80ff80;
}
body #wrapper main .gallery .dislike {
  background-color: #ffe6e6;
  border: 1px solid #ffb3b3;
}
body #wrapper main .gallery .display-info img {
  width: 500px;
  height: 580px;
}
body #wrapper main .gallery .artist-bio {
  color: #337ab7;
  font-size: 18px;
  line-height: 40px;
}
body #wrapper main .gallery .artist-bio div div {
  border-bottom: 1px solid #dddddd;
}
body #wrapper main .gallery .artist-bio div div:last-of-type {
  border-bottom: none;
}
body #wrapper main .gallery .artist-img {
  width: 200px;
  height: 200px;
}
body #wrapper main .gallery .comments-box {
  padding: 10px;
}
body #wrapper main .gallery .comments-box ul {
  list-style-type: none;
  color: #888;
}
body #wrapper main .gallery .comments-box ul li {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  font-size: 18px;
}
body #wrapper main .gallery .comments-box ul li em {
  font-size: 14px;
  float: right;
}
body #wrapper main .gallery .comments-box ul li .glyphicon-user {
  border: 1px solid #a9a9a9;
  font-size: 25px;
}
body #wrapper main .gallery .comments-box button {
  font-size: 16px;
  border: 1px solid #a9a9a9;
}
body #wrapper main .gallery .comments-box #textarea-comment {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}
body footer {
  background-color: #55cbd2;
  color: #fff;
  font-size: 18px;
  padding: 10px 10px;
  padding-left: 100px;
}
body .hidden {
  display: none;
}
#shoppingCart {
  width: 40px;
  margin-left: 15px;
}
#shoppingCart:hover {
  cursor: pointer;
}
#fluid-notification {
  display: inline;
  position: absolute;
  left: 180px;
  top: 16px;
  min-width: 17px;
  line-height: 17px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  background-color: #f0280a;
  border-radius: 50%;
}
#shopping-cart {
  overflow-y: auto;
}
.cart-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
.cart-body {
  overflow-y: auto;
  padding: 2px 16px;
}
.cart-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
.cart-content {
  display: "block";
  height: 200px;
  overflow-y: auto;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.shopping-cart-item div {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  width: 100px;
}
.cart-header-row {
  display: inline;
}
.cart-header-row div {
  list-style-type: none;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  width: 100px;
}
.cart-footer div {
  display: inline-block;
  margin: 5px;
  padding: 5px;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
#remove-item {
  display: inline-block;
  width: 50px;
  color: red;
  text-align: center;
  vertical-align: middle;
}
.remove-item:hover {
  box-shadow: 3px 3px 3px #ccc;
  cursor: pointer;
}
.order-button {
  background-color: #44c767;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  border: 1px solid #044f0c;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.order-button:hover {
  background-color: #5cbf2a;
}
.order-button:active {
  position: relative;
  top: 1px;
}
.remove-item:hover {
  box-shadow: 3px 3px 3px #ccc;
  cursor: pointer;
}
.order-container input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.order-container input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.order-container input[type=submit]:hover {
  background-color: #45a049;
}
.order-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    height: 200px;
    overflow: auto;
}

/*new slide-down*/
#reg-form {
    /*padding: 50px;*/
    display: none;
}

