* {
  padding: 0;
  margin: 0;
}
img {
  max-height: 100%;
  max-width: 100%;
}
body {
  padding-bottom: 70px;
  padding-top: 70px;
}
body header {
  background-color: #55cbd2;
}
body header .container {
  width: 100%;
  font-size: 18px;
  background-color: #55cbd2;
  padding: 10px;
  position: relative;
}
body header .container #logo {
  padding-left: 100px;
}
body header .container #logo a {
  color: #fff;
  text-decoration: none;
  font-size: 34px;
  font-family: 'Francois One', sans-serif;
}
body header .container #nav {
  text-align: right;
}
body header .container #nav #menu {
  display: inline-block;
}
body header .container #nav #menu ul {
  list-style-type: none;
}
body header .container #nav #menu ul li {
  padding: 5px 15px;
}
body header .container #nav #menu ul li a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}
body header .container #nav #menu ul li a:hover {
  text-decoration: underline;
}
body header .container #nav #menu ul #linkGallery {
  display: none;
}
body header .container #nav #menu ul #logout {
  display: none;
}
body header .container #nav #menu ul #logout #linkLogOut {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
body header .container #nav #menu ul #logout #linkLogOut:hover {
  text-decoration: underline;
}
body header .container #nav form {
  display: inline-block;
  color: #fff;
  font-size: 20px;
}
body header .container #nav form input {
  width: 150px;
  border-radius: 5px;
  color: #888;
  font-size: 18px;
}
body header .container #nav form button {
  width: 100px;
  font-size: 16px;
}
body header .container #nav form *::-webkit-input-placeholder {
  color: #ccc;
}
body header .container #nav form *:-moz-placeholder {
  color: #ccc;
}
body header .container #nav #loggedInUser {
  margin-right: 10px;
  color: #fff;
}
body header .container #load,
body header .container #info,
body header .container #error {
  font-size: 20px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  width: 900px;
  height: 50px;
  padding: 10px;
  display: none;
  position: absolute;
  top: 80px;
  left: 1000px;
  z-index: 100;
}
body header .container #load {
  border: 2px solid lightseagreen;
  background-color: rgba(0, 172, 230, 0.7);
}
body header .container #info {
  border: 2px solid green;
  background-color: rgba(0, 153, 51, 0.7);
}
body header .container #error {
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.7);
}
body main #main-view {
  background-image: url("../images/header.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 830px;
}
body main #main-view #main-title {
  padding-top: 200px;
  padding-bottom: 230px;
  text-align: right;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body main #main-view #main-title h1 {
  font-size: 100px;
}
body main #main-view #main-title h3 {
  font-size: 60px;
}
body main .gallery {
  padding: 20px;
  display: none;
}
body main .gallery .galleryItems {
  list-style-type: none;
}
body main .gallery .galleryItems .itemGallery .imgGallery {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
}
body main .gallery .galleryItems .itemGallery div {
  text-align: center;
}
body main .gallery .galleryItems .itemGallery div .artist,
body main .gallery .galleryItems .itemGallery div .title {
  font-weight: bold;
  text-decoration: none;
}
body main .gallery .galleryItems .itemGallery div .artist:hover,
body main .gallery .galleryItems .itemGallery div .title:hover {
  text-decoration: underline;
  color: #337ab7;
  cursor: pointer;
}
body main .gallery > div > div {
  color: #888;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  width: 70%;
}
body main .gallery > div > div strong {
  color: #337ab7;
}
body main .gallery h3,
body main .gallery h4 {
  color: #888;
}
body main .gallery h3 strong,
body main .gallery h4 strong {
  color: #337ab7;
}
body main .gallery button {
  margin-right: 15px;
}
body footer {
  background-color: #55cbd2;
  color: #fff;
  font-size: 18px;
  padding: 10px 10px;
  padding-left: 100px;
}
